server {
    listen 80;
    server_name {{ server_name }};

    root /var/www/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/demo_access.log;
    error_log  /var/log/nginx/demo_error.log;
}
